div.app-info{
    display: grid;
    min-height: 10vh;
    max-width: 20vw;
    align-items: baseline;
    justify-items: center;
    border: solid 2px #1afe49;
    border-radius: 3px;
    border-color: #1afe49;
    box-shadow: 0 0 0.4rem #1afe49;
    font-family: inherit;
    font-size: large;
    overflow-x: auto;
    background-image:url("../universe3.avif");
    background-position: center;
}