div#Home-desktop{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    grid-template-areas: "apps-menu app-services";
    border: solid 2px white;
    overflow-y: hidden;
}

div#apps-menu{
    display: grid;
    grid-area: apps-menu;
    border: solid 2px #1afe49;
    grid-template-rows: repeat(8,10vh);
    grid-auto-rows: 10vh;
    box-shadow: 0 0 0.4rem;
    justify-items: left;
    align-items:baseline;
    background-image: linear-gradient(#0d1029, rgb(119, 8, 86));
    overflow-y: scroll;
}

div#app-services{
    display: grid;
    grid-area: app-services;
}

h2#add-app{
    border: solid 2px #1afe49;
    box-shadow: 0 0 0.1rem;
    border-radius: 2px;
    min-width: 5vw;
    justify-self: center;
}

h2#add-app:hover{
    box-shadow: 0 0 0.4rem;
    cursor: pointer;
}

span.app{
    border: solid 2px #1afe49;
    box-shadow: 0 0 0.1rem;
    border-radius: 2px;
    padding: 3px;
}

span.app:hover{
    box-shadow: 0 0 0.4rem;
    cursor: pointer;
}