div.service-component{
    display: grid;
    min-height: 100%;
    min-width: 70%;
    max-width: 70%;
    border: solid 2px #1afe49;
    border-radius: 3px;
    box-shadow: 0 0 0.2rem;
    padding: 3px;
    animation: service-component-entrance;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

div.service-component:hover{
    box-shadow: 0 0 0.8rem;
}

a.github-link{
    color: #1afe49;
}

a.github-link:active{
    color: #1afe49;
}

a.website-link{
    color: rgb(145, 1, 92);
}

a.website-link:active{
    color: rgb(145, 1, 92);
}

@keyframes service-component-entrance{
    from {opacity: 0;}
    to {opacity: 1;}
}