div#new-app{
    display: grid;
    align-content:flex-start;
    justify-content: center;
    border: solid 2px white;
    min-height: 75vh;
}

form#app-form{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    border: solid 2px red;
    min-height: 60vh;
}

label#app-name-label{
    font-size: 50px;
    text-shadow: 0 0 0.4rem #1afe49;
}

@media screen and (min-width: 1000px){
    label#app-name-label{
        font-size: 35px;
    }
}