div#new-app{
    display: grid;
    align-content:space-around;
    justify-content: center;
    border: solid 2px white;
    min-height: 75vh;
}

form#app-form{
    display: grid;
    align-items:baseline;
    justify-items: center;
    min-height: 60vh;
}

label.app-name-label{
    font-size: 50px;
    text-shadow: 0 0 0.4rem #1afe49;
}

input[type="text"].app-name-input{
    display: grid;
    align-self: baseline;
    box-shadow: 0 0 0.1rem #1afe49;
    border: solid 2px #1afe49;
    border-radius: 3px;
    min-height: 5vh;
    font-family: inherit;
    color: inherit;
    background-color: inherit;
    font-size: x-large;
}

input[type="text"].app-name-input:focus{
    outline: #1afe49;
    box-shadow: 0 0 0.4rem;
}

button.app-name-input-button{
    border: solid 2px #1afe49;
    border-radius: 3px;
    box-shadow: 0 0 0.1rem #1afe49;
    text-shadow: 0 0 0.1rem #1afe49;
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    min-height: 5vh;
    min-width: 20vw;
    font-size: x-large;
}

button.app-name-input-button:hover{
    cursor: pointer;
    box-shadow: 0 0 0.4rem;
}

@media screen and (min-width: 1000px){
    label.app-name-label{
        font-size: 35px;
    }
    input[type="text"].app-name-input{
        font-size: large;
    }
    button.app-name-input-button{
        min-width: 10vw;
    }
}