div#console{
    display: grid;
    position: fixed;
    z-index: 2;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    grid-template-areas: "terminal-menu"
                         "terminal";
    min-width: 80%;
    align-self: flex-end;
    font-size: large;
    background-color: rgba(4, 4, 43, 1);
    border: solid 2px #06f7eb;
    box-shadow: 0 0 0.4rem #06f7eb;;
}

div.console-up{
    min-height: 50%;
}

div.console-down{
    min-height: 20%;
}

div#terminal{
    display: grid;
    grid-area: terminal;
}

div#terminal-menu{
    display: grid;
    grid-area: terminal-menu;
    grid-template-rows: 100%;
    grid-template-columns: 80% 20%;
    grid-template-areas: ". icons";
}

div#icons{
    display: grid;
    grid-area: icons;
    grid-template-columns: repeat(5, 20%);
    align-items: center;
    justify-items:right;
    font-size: small;
    color: #1afe49;
}

i.console:hover{
    cursor: pointer;
    box-shadow: 0 0 0.4rem #1afe49;
}

i.lightmode{
    color: grey;
    cursor: pointer;
}

i.lightmode:hover{
    color: white;
}