div#console{
    display: grid;
    position: fixed;
    z-index: 2;
    grid-template-columns: 75% 25%;
    grid-template-rows: 25% 75%;
    grid-template-areas: "terminal add-terminal"
                          "terminal terminal-menu";
    min-width: 80%;
    align-self: flex-end;
    font-size: large;
    background-image: linear-gradient(rgb(192, 14, 29) #0876b6);
    background-color: rgba(4, 4, 43, 0.527);
    border: solid 2px #06f7eb;
    box-shadow: 0 0 0.4rem #06f7eb;;
}

div.console-up{
    min-height: 100%;
}

div.console-down{
    min-height: 20%;
}

div#terminal{
    display: grid;
    grid-area: terminal;
}
div#add-terminal{
    display: grid;
    grid-area: add-terminal;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
    grid-template-areas: "add toggle-size";
    align-items: center;
    justify-items: auto;
    font-size: large;
}
div#add{
    display: grid;
    grid-area: add;
    border: solid 1px #1afe49;
    box-shadow: 0 0 0.2rem #1afe49;
    justify-items: center;
    cursor: pointer;
}

div#add:hover{
    box-shadow: 0 0 0.4rem #1afe49;
}

div#toggle-size{
    display: grid;
    grid-area: toggle-size;
    border: solid 1px #1afe49;
    box-shadow: 0 0 0.2rem #1afe49;
    justify-items: center;
    cursor: pointer;
}

div#toggle-size:hover{
    box-shadow: 0 0 0.4rem #1afe49;
}

div#terminal-menu{
    display: grid;
    grid-area: terminal-menu;
    border: solid 1px #06f7eb
}