div#Home{
    display: grid;
    min-height: 75vh;
    min-width: 100%;
    grid-template-columns: 70vw;
    grid-template-rows: 15vh 50vh;
    grid-template-areas: "home-header"
                         "apps";
    align-content: center;
    justify-content: center;
    border: solid 2px white;
}

div#home-header{
    display: grid;
    grid-area: home-header;
    align-items: center;
    justify-items: center;
    border: solid 2px white
}

div#apps{
    display: grid;
    grid-area: apps;
    grid-template-columns: repeat(2,35vw);
    border: solid 2px green;
    justify-items: center;
    align-items: center;
}

h1#add-app{
    border: solid 1px #1afe49;
    border-radius: 3px;
    background-color: #092047;
    padding: 3px;
    box-shadow: 0 0 0.2rem #1afe49;
    text-shadow: 0 0 0.4rem #1afe49;
    font-size: xx-large;
    min-height: 30px;
    min-width: 70px;
}

h1#add-app:hover{
    cursor: pointer;
}