div#Home{
    display: grid;
    align-items: flex-start;
    justify-items: center;
    min-height: 75vh;
    border: solid 2px white;
}

h1#add-app{
    border: solid 1px #1afe49;
    border-radius: 3px;
    background-color: #092047;
    padding: 4px;
    box-shadow: 0 0 0.2rem #1afe49;
    text-shadow: 0 0 0.4rem #1afe49;
}

h1#add-app:hover{
    cursor: pointer;
}