div#app{
  display: grid;
  min-height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: 20vh 80vh;
  grid-template-areas: "header"
                       "views";
  border: solid gold 2px;
  background-color: #01012b;
  color: #06f7eb;
}

div#header{
  display: grid;
  grid-area: header;
  justify-items: center;
  align-items: center;
  border: solid 2px #1afe49;
  background-color: #1e0636;
}

div#views{
  display: grid;
  grid-area: views;
  border: solid 2px red;
}

h2#app-title{
  font-size: xx-large;
  text-shadow: 0 0 0.4rem #1afe49;
  box-shadow: 0 0 0.4rem #1afe49;
  border: solid 1px #1afe49;
  border-radius: 3px;
  padding: 4px;
}

h2#app-title:hover{
  cursor: pointer;
}