@font-face {
  font-family: Cyber;
  src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
  font-display: swap;
}


div#app{
  display: grid;
  min-height: 100vh;
  border: solid gold 2px;
  background-color: #01012b;
  color: #05d9e8;
  font-family: Cyber;
  align-items: flex-start;
  justify-items: center;
}

h2#app-title{
  font-size: xx-large;
  text-shadow: 0 0 0.4rem;
  box-shadow: 0 0 0.4rem #ff2a6d;
  border: solid 1px #ff2a6d;
  border-radius: 3px;
  padding: 4px;
}